.wow {
  width: 100px;
}

body{
  background-color: #FFC300 ;
  
} 

h1{
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

h2{
  font-color: #DB6213;
}

div{
  text-align: center;
  font-family: 'Slabo 27px', serif;
  
}